:root {
   --primary-color: red;
   --secundary-color: yellow;
   --tertary-color: green;
}

body {
   margin: 0px;
}

header {
   background-image: url("https://www.lithospos.com/storage/app/media/fruits-vegetables-pos-banner.jpg");
   background-color: var(--primary-color);
}

nav {
   background-color: var(--secundary-color);
   font-size: 0;
}

.navbutton {
   display:inline-block;
   padding: 15px;
   border-right: 1px solid gray;
   color: black;
   font-size: 15pt;
}

.navbutton:hover {
   background-color: yellowgreen;
}

a{
   text-decoration: none;
}

table, th, td {
   border: 1px solid black;
}


footer {
   background-color: var(--tertary-color);
   color: white;
   overflow: hidden;
   padding: 8px;
}

footer a {
   color: white;
}

.left {
   float:left;
}

.right {
   float:right;
}

.socialButton {
   width:25px;
   height:25px;
}