/* Setting variables */
:root {
   --primary-color: #ff2d22;
   --secundary-color: rgb(255, 255, 155);

   --main-background: #ff6961;

   --side-padding: 2vw;
}

/* Setting default background and font style */
body {
   margin: 0;
   background-color: var(--main-background);
   font: 20px Arial;
}

/* Adding side padding */
h1, pre, nav, section, footer {
   padding-left: var(--side-padding);
   padding-right: var(--side-padding);
}

/* setting header background and reserve color */
header {
   background-image: url("https://www.lithospos.com/storage/app/media/fruits-vegetables-pos-banner.jpg");
   background-color: var(--primary-color);
}

/* styling background */
h1 {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 4em;
}

/* Styling slogan */
pre {
   margin-top: 0;
   margin-bottom: 5px;
   font-size: 1.5em;
}

/* Setting navbar background and remove space between individual buttons */
nav {
   background-color: var(--secundary-color);
   font-size: 0;
}

/* Adding leftmost border */
#navbuttons {
   border-left: 1px solid gray;
}

/* styling individual buttons */
.navbutton {
   display:inline-block;
   padding: 15px;
   border-right: 1px solid gray;
   color: black;
   font-size: 15pt;
}

.navbutton:hover {
   background-color: yellowgreen;
}

/* Making links look better */
a, abbr {
   text-decoration: none;
}

section, footer {
   overflow: hidden;
}

/* Styling picture of CEO */
figure {
   float:right;
   font-size: 0.85em;
   background-color: lightgray;
   font-weight: bold;
}

figure img {
   width: 100%;
   height: auto;
}

figure figcaption {
   padding: 2px;
}

/* Styling about section text */
#about p {
   display: inline;
   text-indent: 5px;
}

/* Leaving space between list items for key values */
ol li {
   margin: 5px;
   list-style: upper-roman outside;
}

table {
   width: 100%;                  /* Making table fill width */
   border-spacing: 0;            /* Removing space between cells */
   text-transform: capitalize;   /* Correct capitalization of data */
   caption-side: top;            /* Defining caption size */
}

/* Setting column widths */
#col1, #col2, #col3, #col4 {
   width: 15%;
}

#col5 {
   width: 40%;
}

/* Setting background color of non-data part of tables */
caption ,.tableheader, .tableform {
   background-color: var(--primary-color);
}

/* Adding border between table caption and index */
table caption {
   border-bottom-width: 1px;
   border-bottom-color: black;
   border-bottom-style: solid;
}

.tableheader .col1, .tableheader .col2, .tableheader .col3 {
   cursor: pointer;
}

/* Setting alternating colors for table rows */
table .datarow:nth-child(even) {
   background-color: rgb(133, 190, 209);
}

table .datarow:nth-child(odd) {
   background-color: lightblue;
}

/* Aligning text within cells */
td {
   text-align: center;
   padding: 5px;
   vertical-align: top;
}

td dl {
   margin-top: 0;
}

/* Making input fields fill table cell */
td input {
   width: 100%;
   box-sizing: border-box;
}

/* Constraining porduct image size*/
table img {
   max-width: 100%;
   max-height: 25vh;
   height: auto;
   width: auto;
}

/* Managing colors of form */
.input {
   background-color: var(--secundary-color);
}

input:hover, input:focus, button:hover {
   background-color: yellow;
}

input:hover::placeholder, input:hover::placeholder {
   color: lightgray;
}

input:active[type="submit"], button:active {
   background-color: purple;
}

/* validation styles */
td input.good {
   background-color: #90ee90;
}

td input.bad {
   background-color: #ffccbb;
}

button {
   width: 200px;
   height: auto;
   margin: 2vw 0;
   padding: 15px 1vw;

   font-weight: bold;
   font-size: 20px;

}

/* Setting list prefix */
ul {
   list-style-type: square;
}

/* Creating container for footer */
footer {
   background: black url("https://silviahartmann.com/background-tile-art/images/black_woven_seamless_tile.jpg") repeat;
   padding: 8px var(--side-padding);
   color: white;
   overflow: hidden;
}

 /* Setting color for links in footer */
footer a:link {
   color: white;
}

footer a:visited {
   color: palevioletred;
}

/* Setting size of social media buttons */
.socialButton {
   width:25px;
   height:25px;
}

/* Alligning elements on either side of footer */
.left {
   float:left;
}

.right {
   float:right;
}

@media all and (max-width: 800px) {
   /* Removing CEO image and form to safe space */
   figure, table .tableform, button {
      display: none;
   }

   /* Adjusting navigation buttons to align verticaly instead of horizontaly */
   nav {
      padding: 0;
   }

   #navbuttons a {
      display:block;
      border: none;
      border-bottom: 1px solid black;
      padding: 2vw var(--side-padding);
   }

   #navbuttons {
      border: none;
   }
}

@media all and (max-width: 600px) {

   /* Remove images column to safe space */
   table .col5 {
      display: none;
   }

   /* Adjust text size to fit smaller table */
   table {
      font-size: 3.5vw;
   }

   /* Align elements in footer vertical instead of vertical */
   footer .left, footer .right {
      float: none;
      display: block;
      margin-top: 5vh;
   }
}

@media print {

   /* Removing interactive parts that are useless for print */
   .socialLink, nav, tr.tableform, button {
      display: none;
   }

   /* Page break to prevent the table being split on multiple pages*/
   #products {
      page-break-before: always;
   }

   /* Adding border to table for more clarity (background color get's ignored on some browsers) */
   td {
      border: 1px solid black;
   }

   /* Make non-black text black for more contrast to white background */
   footer .left a, footer .right a, footer {
      color: black;
   }
}
